{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{% static 'img/knapsack/favicon.ico' %}" type="image/x-icon" />

    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--=============== SWIPER CSS ===============-->

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'css/knapsack/style.css' %}" />

    <title>My Portfolio</title>
  </head>
  <body>

    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="{% url 'home' %}" class="nav__logo">Mon Portfolio</a>

        <div class="nav__menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <i class="bx bx-home-alt"></i>
              </a>
            </li>

            <li class="nav__item">
              <a href="#about" class="nav__link">
                <i class="bx bx-user"></i>
              </a>
            </li>

            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="bx bx-book"></i>
              </a>
            </li>

            <li class="nav__item">
              <a href="#work" class="nav__link">
                <i class="bx bx-briefcase-alt-2"></i>
              </a>
            </li>

            <li class="nav__item">
              <a href="#contact" class="nav__link">
                <i class="bx bx-message-square-detail"></i>
              </a>
            </li>
          </ul>
        </div>

        <!-- THEME CHANGE BUTTON  -->
        <i class="bx bx-moon change-theme" id="theme-button"></i>
      </nav>
    </header>

    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== HOME ===============-->
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <!--<span class="home__greeting">Hello, I'm</span>-->
            <h1 class="home__name">Alpha MAVA MALONGA</h1>
            <h3 class="home__education">Développeur Back-End Python & Django</h3>

            <div class="home__buttons">
              <a
                download=""
                href="{% url 'curriculum_vitae' %}"
                class="button button--ghost"
              >
              Curriculum vitae
              </a>
              <a href="#work" class="button button--ghost">Mon portfolio</a>
            </div>
          </div>
          <!--
          <div class="home__handle">
            <img src="assets/img/me - Copie.png" alt="perfill" class="home__img">
          </div>
          -->

          <div class="home__social">
            <a href="https://www.linkedin.com/in/alpha-mava-malonga/" class="home__social-link" target='_blank'>
              <i class="bx bxl-linkedin-square"></i>
            </a>
            <a
              href="https://github.com/mavamalonga"
              class="home__social-link" target='_blank'
            >
              <i class="bx bxl-github"></i>
            </a>
            <a
              href="https://www.instagram.com/m_mlga/?hl=en"
              class="home__social-link" target='_blank'
            >
              <i class="bx bxl-instagram"></i>
            </a>
          </div>

          <a href="#about" class="home__scroll">
            <i class="bx bx-mouse home__scroll-icon"></i>
            <span class="home__scroll-name">Scroll Down</span>
          </a>
        </div>
        
      </section>
      <!--=============== ABOUT ===============-->
      <section class="about section" id="about">
        <span class="section__subtitle">Mon intro</span>
        <h2 class="section__title">À propos de moi</h2>

        <div class="about__container container grid">
          <img src="{% static 'img/knapsack/me.jpg' %}" alt="about img" class="about__img" />

          <div class="about__data">
            <div class="about__info">
              <div class="about__box">
                <i class="bx bx-award about__icon"></i>
                <h3 class="about__title">Expérience</h3>
                <span class="about__subtitle">3 ans (Junior)</span>
              </div>

              <div class="about__box">
                <i class="bx bx-briefcase-alt about__icon"></i>
                <h3 class="about__title">Réalisations</h3>
                <span class="about__subtitle">20 + Projets</span>
              </div>

              <div class="about__box">
                <i class="bx bx-support about__icon"></i>
                <h3 class="about__title">Support</h3>
                <span class="about__subtitle">Online 24/7</span>
              </div>
            </div>

            <p class="about__description">
              Hello world ! Je suis Alpha, j'ai 24 ans et 
              je suis développeur informatique, Je vous souhaite la bienvenue sur mon site personnel. 
              C’est ici que je partage la veille que je pratique au quotidien et quelques projets personnels.
            </p>
            <a href="#contact" class="button">Me contacter</a>
          </div>
        </div>
      </section>

        <!--=============== Education ===============-->
        <section class="testimonial section">
          <span class="section__subtitle">Études & formations</span>
          <h2 class="section__title">Education</h2>
  
          <div class="testimonial__container container swiper">
            <div class="">
              <div class="testimonial__card swiper-slide">
                <img
                  src="{% static 'img/knapsack/oc_logo.png' %}"
                  alt=""
                  class="testimonial__img"
                />
  
                <h3 class="testimonial__name">Développeur d'application Python</h3>
                <span class="section__education">Paris 2020-2022</span><br>
                <p class="testimonial__description">
                  Construisez des applications web en utilisant le langage de programmation Python et le framework Django.
                  Diplôme niveau 6 (bac +3/4)
                </p>
              </div>
  
              <div class="testimonial__card swiper-slide">
                <img
                  src="{% static 'img/knapsack/saclays.png' %}"
                  alt=""
                  class="testimonial__img"
                />
  
                <h3 class="testimonial__name">Licence Science pour l'Ingénieur (SPI)</h3>
                <span class="section__education">Évry Val-d'Essonne 2017-2020</span>
                <p class="testimonial__description"><br>
                  Compétences scientifiques et technologiques.
                  Enseignement : Mathématiques, physique, électronique, automatique...
                  Spécialitée génie électrique et informatique industrielle (GEII).
                </p>
              </div>
  
              <div class="testimonial__card swiper-slide">
                <img
                  src="{% static 'img/knapsack/lycee.png' %}"
                  alt=""
                  class="testimonial__img"
                />
  
                <h3 class="testimonial__name">Baccalauréat scientifique (S)</h3>
                <span class="section__education">Epinay-sous-Sénart 2014-2017</span>
                <p class="testimonial__description"><br>
                  Enseignement scientifique : mathématiques, algorithmes, physique chimie, SVT...<br>
                  Initialisation à la programmation avec Casio Basic programming.
                </p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </section>

      <!--=============== SKILLS ===============-->
      <section class="skills section" id="skills">
        <span class="section__subtitle">Mes capacités</span>
        <h2 class="section__title">Mes compétences techniques</h2>

        <div class="skills__container container grid">
          <div class="skills__content">
            <h3 class="skills__title">Développement<br>Front-end</h3>

            <div class="skills__box">
              <div class="skills__group">
                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">HTML</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>

                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">CSS</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>

                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">JavaScript</h3>
                    <span class="skills__level">Intermédiaire</span>
                  </div>
                </div>
              </div>

              <div class="skills__group">
                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">Bootstrap</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>

                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">React</h3>
                    <span class="skills__level">Basic</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="skills__content">
            <h3 class="skills__title">Développement<br>Back-end</h3>

            <div class="skills__box">
              <div class="skills__group">
                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">Python</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>

                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">Django</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>

                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">Django<br>rest framework</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>
              </div>

              <div class="skills__group">
                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">Flask</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>

                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">PosgreSQL</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>

                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">MySQL</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="skills__content">
            <h3 class="skills__title">DevOps & Gestion de projet</h3>

            <div class="skills__box">
              <div class="skills__group">
                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">Docker</h3>
                    <span class="skills__level">Basic</span>
                  </div>
                </div>

                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">CircleCi</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>

                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">Heroku</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>
              </div>

              <div class="skills__group">
                <div class="skills__data">
                  <i class="bx bxs-badge-check"></i>

                  <div>
                    <h3 class="skills__name">Git</h3>
                    <span class="skills__level">Avancé</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <!--=============== WORK ===============-->
      <section class="work section" id="work">
        <span class="section__subtitle">Mon Portfolio</span>
        <h2 class="section__title">Projects récents</h2>

        <div class="work__filter">
          <span class="work__item active-work" data-filter="all">Tout</span>
          <span class="work__item" data-filter=".python">Python</span>
          <span class="work__item" data-filter=".django">Django</span>
          <span class="work__item" data-filter=".flask">Flask</span>
          <span class="work__item" data-filter=".js">JavaScript</span>
        </div>

        <div class="work__container container grid">
          <!-- work 1 -->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title"></h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title"></h3>
                <p class="works__modal-description">
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info"></p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 2 -->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title"></h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title"></h3>
                <p class="works__modal-description">
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info"></p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 3 -->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title"></h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title">Product Designer</h3>
                <p class="works__modal-description">
                  Service with more than 3 years of experience. Providing
                  quality work to clients and companies.
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 4 -->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title">Web design</h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title">Product Designer</h3>
                <p class="works__modal-description">
                  Service with more than 3 years of experience. Providing
                  quality work to clients and companies.
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 5 -->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title">Web design</h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title">Product Designer</h3>
                <p class="works__modal-description">
                  Service with more than 3 years of experience. Providing
                  quality work to clients and companies.
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 6 -->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title"></h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title">Product Designer</h3>
                <p class="works__modal-description">
                  Service with more than 3 years of experience. Providing
                  quality work to clients and companies.
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 7-->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title">Web design</h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title">Product Designer</h3>
                <p class="works__modal-description">
                  Service with more than 3 years of experience. Providing
                  quality work to clients and companies.
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 8-->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title">Web design</h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title">Product Designer</h3>
                <p class="works__modal-description">
                  Service with more than 3 years of experience. Providing
                  quality work to clients and companies.
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 9-->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title">Web design</h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title">Product Designer</h3>
                <p class="works__modal-description">
                  Service with more than 3 years of experience. Providing
                  quality work to clients and companies.
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 10 -->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title">Web design</h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title">Product Designer</h3>
                <p class="works__modal-description">
                  Service with more than 3 years of experience. Providing
                  quality work to clients and companies.
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 11-->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title">Web design</h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title">Product Designer</h3>
                <p class="works__modal-description">
                  Service with more than 3 years of experience. Providing
                  quality work to clients and companies.
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- work 12 -->
          <div class="work__card mix web">
            <img src="" alt="work 1" class="work__img" /><br>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>
            <span class="badge badge-info"></span>

            <h3 class="work__title">Web design</h3>

            <a class="work__button" style="text-decoration: none; cursor: pointer;">
              See more <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>

            <div class="works__modal">
              <div class="works__modal-content">
                <a href="https://github.com/mavamalonga" class="home__social-link" target='_blank'>
                  <i class="bx bxl-github"></i>
                </a>
                <i class="bx bx-x works__modal-close"></i>

                <h3 class="works__modal-title"></h3>
                <p class="works__modal-description">
                </p>

                <span class="section__subtitle">Compétences</span><br>
                <ul class="works__modal-list">
                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I develop the user interface.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">Web page development.</p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I create ux element interactions.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      I position your company brand.
                    </p>
                  </li>

                  <li class="works__modal-item" style="margin-top: -20px;">
                    <i class="bx bx-check works__modal-icon"></i>
                    <p class="works__modal-info">
                      Design and mockups of products for companies.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>


        </div>
      </section>

      <!--=============== CONTACT ===============-->
      <section class="contact section" id="contact">
        <span class="section__subtitle">Contacts</span>
        <h2 class="section__title">Contactez moi</h2>

        <div class="contact__container container grid">
          <div class="contact__content">

            <div class="contact__info">
              <div class="contact__card">
                <i class="bx bx-mail-send contact__card-icon"></i>
                <h3 class="contact__card-title">Email</h3>
                <span class="contact__card-data">mavamalonga.alpha@gmail.com</span>

                <a href="mailto:mavamalonga.alpha@gmail.com" target="_blank" class="contact__button">
                  Écrivez-moi
                  <i class="bx bx-right-arrow-alt contact__button-icon"></i>
                </a>

              </div>
            </div>
          </div>

          <div class="contact__content">

            <form class="contact__form"> 
              <div class="contact__form-div">
                <label for="" class="contact__form-tag">Noms</label>
                <input type="text" class="contact__form-input" placeholder="Votre nom"> 
              </div>

              
              <div class="contact__form-div">
                <label for="" class="contact__form-tag">Mail</label>
                <input type="email" class="contact__form-input" placeholder="Votre adresse mail"> 
              </div>

              
              <div class="contact__form-div contact__form-area">
                <label for="" class="contact__form-tag">Message</label>
               <textarea class="contact__form-input" cols="30" rows="10" placeholder="Message"></textarea>
              </div>

              <button class="button">Envoyer</button>
            </form>
          </div>
        </div>
      </section>
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer">
      <div class="footer__container container">
        <!--<h1 class="footer__title">Alpha</h1>-->

        <ul class="footer__list">
          <li>
            <a href="#about" class="footer__link">À propos</a>
          </li>

          <li>
            <a href="#skills" class="footer__link">Compétences</a>
          </li>

          <li>
            <a href="#work" class="footer__link">Projets</a>
          </li>
        </ul>

        <ul class="footer__social">
          <a href="https://github.com/mavamalonga" class="footer__social-link">
            <i class="bx bxl-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/alpha-mava-malonga/" class="footer__social-link">
            <i class="bx bxl-linkedin-square"></i>
          </a>
          <a href="https://www.linkedin.com/in/alpha-mava-malonga/" class="footer__social-link">
            <i class="bx bxl-telegram"></i>
          </a>
        </ul>


        <span class="footer__copy">
          Copyright © 2022 MAVA MALONGA Alpha - <a href="{% url 'mentions-legales' %}">Mentions légales</a>
        </span>

      </div>
    </footer>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="{% static 'js/knapsack/scrollreveal.min.js' %}"></script>

    <!--=============== SWIPER JS ===============-->

    <!--=============== MIXITUP FILTER ===============-->
    <script src="{% static 'js/knapsack/mixitup.min.js' %}"></script>

    <!--=============== MAIN JS ===============-->
    <script src="{% static 'js/knapsack/main.js' %}"></script>

    <!--=============== API REQUEST ===============-->
    <script src="{% static 'js/knapsack/api_request.js' %}"></script>
  </body>
</html>
