{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--=============== MAIN ===============-->
<div class="container-fluid" style="margin-bottom: 80px;margin-top: 5%; text-align: center;">
  <div class="container">
      <div class="container">
          <div class="container">
              <h6>MENTIONS LÉGALES</h6>
              <p>L’utilisation de ce site implique l’acceptation pleine et entière des conditions générales d’utilisation décrite ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, vous êtes donc invités à les consulter de manière régulière.</p>
          </div>
          <div class="container">
              <h6>PRÉSENTATION</h6>
              <p>Ce site est le site personnel de MAVA MALONGA Alpha qui est donc à la fois le responsable du site et le responsable des publications. Le site est fièrement propulsé par Heroku, son design est inspiré du tutorial suivant : <a href="https://www.youtube.com/watch?v=oy8dSsK57Ps&t=229s">https://www.youtube.com/watch?v=oy8dSsK57Ps&t=229s</a></p>
          </div>
          <div class="container">
              <h6>HÉBERGEMENT</h6>
              <p>L’hébergeur de ce site est Heroku.</p>
          </div>
          <div class="container">
              <h6>RESPONSABILITÉS</h6>
              <p>L’utilisation des informations contenues sur ce site relève de la seule responsabilité de l’utilisateur. L’éditeur du site ne pourra en aucun cas, et pour quelque cause que ce soit, être tenu pour responsable de l’utilisation qui en est faite, et ce, quelles qu’en soient les conséquences.</p>
          </div>
          <div class="container">
              <h6>DROITS D’AUTEUR</h6>
              <p>Sauf mention contraire, tous les éléments accessibles sur ce site sont la propriété du responsable des publications ou celle de tiers lui ayant cédé les droits d’utilisation. Ils relèvent de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. Toute reproduction, représentation, modification, publication ou adaptation de tout ou partie des éléments du site, sous quelque forme que ce soit, sauf autorisation écrite préalable du responsable de publication est interdite. Toute exploitation non autorisée du site ou de l’un des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
          </div>
          <div class="container">
              <h6>DONNÉES PERSONNELLES</h6>
              <p>L’éditeur de ce site s’engage à ne jamais communiquer vos informations personnelles à un tiers et à ne pas les revendre. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent. Pour exercer ce droit, il vous suffit d’envoyer un e-mail à l’adresse suivante : <a href="mailto: mavamalonga.alpha@gmail.com">mavamalonga.alpha@gmail.com</a></p>
          </div>
          <div class="container">
              <h6>MODÉRATION DES COMMENTAIRES</h6>
              <p>Les commentaires et trackbacks/pingback de ce site sont modérés manuellement. Le responsable de ce site se réserve le droit de supprimer tout commentaire ou trackback/pingback qu’il jugera non approprié.</p>
          </div>
      </div>
    </div>
</div>
{% endblock %}