@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


.col-md-3.container-left {
    margin-top: 20px; 
    background-color: white;
    box-shadow: 0 2px 8px hsla(219, 48%, 8%, 0.1);
    border-radius: 0.75rem;
    padding: 0.60rem 0.2rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.col-md-3.container-left h6 {
    font-size: 1.5rem;
    color: grey;
}

.col-md-3 .skills__content
{
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
  background-color: white;
  padding: 1.5rem;
  border-radius: 1.25rem;
  padding: 2rem 4rem;
}


.col-md-3 .skills__content .skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .col-md-3 .skills__content .skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
    column-gap: 1rem;
  }

  .col-md-3 .skills__content .skills__box .skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
  }

  .col-md-3 .skills__content .skills__box .skills__group .skills__data {
    display: flex;
    column-gap: 0.5rem;
  }

  .skills .bxs-badge-check {
    font-size: 1rem;
    color: green;
    font-weight: 500;
  }
  





#my-photo {
    border-radius: 0.75rem;
    width: 100%;
    margin-top: 15px; 
    margin-bottom: 15px;
}

/*icon about me */
.bi-file-earmark-person .bi-sliders {
    margin-top: -5px;
}

.about-me {
    font-size: smaller; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container-left #about-me-2 {
    padding-bottom: 30px;
}
