{% extends 'base.html' %}
{% block content %}
    <!-- Main -->
    <div class="container-fluid">
        L’utilisation de ce site implique l’acceptation pleine et entière des conditions générales d’utilisation décrite ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, vous êtes donc invités à les consulter de manière régulière.

PRÉSENTATION
Ce site est le site personnel de Ludovic Scribe qui est donc à la fois le responsable du site et le responsable des publications. Le site est fièrement propulsé par WordPress, son design est inspiré du thème Bootstrap Business Casual.

HÉBERGEMENT
L’hébergeur de ce site est 1&1 Internet SARL – 7 place de la Gare – BP 70109 – 57201 Sarreguemines Cedex.

RESPONSABILITÉS
L’utilisation des informations contenues sur ce site relève de la seule responsabilité de l’utilisateur. L’éditeur du site ne pourra en aucun cas, et pour quelque cause que ce soit, être tenu pour responsable de l’utilisation qui en est faite, et ce, quelles qu’en soient les conséquences.
DROITS D’AUTEUR
Sauf mention contraire, tous les éléments accessibles sur ce site sont la propriété du responsable des publications ou celle de tiers lui ayant cédé les droits d’utilisation. Ils relèvent de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. Toute reproduction, représentation, modification, publication ou adaptation de tout ou partie des éléments du site, sous quelque forme que ce soit, sauf autorisation écrite préalable du responsable de publication est interdite. Toute exploitation non autorisée du site ou de l’un des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.

DONNÉES PERSONNELLES
L’éditeur de ce site s’engage à ne jamais communiquer vos informations personnelles à un tiers et à ne pas les revendre. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent. Pour exercer ce droit, il vous suffit d’envoyer un e-mail à l’adresse suivante : contact@ludovicscribe.fr.

MODÉRATION DES COMMENTAIRES
Les commentaires et trackbacks/pingback de ce site sont modérés manuellement. Le responsable de ce site se réserve le droit de supprimer tout commentaire ou trackback/pingback qu’il jugera non approprié.
    </div>
{% endblock %}