{% extends 'base.html' %}
{% block content %}
    <!-- Main -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <!-- Left col -->
                <div class="col-md-9">
                    <div>
                        <div class="row">
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium; color: #ff9c00;">FIRMWARE XIAOMI MI BAND 3<br><span class="link-dark" style="font-size: 13px;">Publié le 13/06</span></h3>
                            <p width="100%" class="link-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum [...]</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium; color: #ff9c00;">FIRMWARE XIAOMI MI BAND 3<br><span class="link-dark" style="font-size: 13px;">Publié le 13/06</span></h3>
                            <p width="100%" class="link-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum [...]</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium; color: #ff9c00;">FIRMWARE XIAOMI MI BAND 3<br><span class="link-dark" style="font-size: 13px;">Publié le 13/06</span></h3>
                            <p width="100%" class="link-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum [...]</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium; color: #ff9c00;">FIRMWARE XIAOMI MI BAND 3<br><span class="link-dark" style="font-size: 13px;">Publié le 13/06</span></h3>
                            <p width="100%" class="link-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum [...]</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium; color: #ff9c00;">FIRMWARE XIAOMI MI BAND 3<br><span class="link-dark" style="font-size: 13px;">Publié le 13/06</span></h3>
                            <p width="100%" class="link-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum [...]</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium; color: #ff9c00;">FIRMWARE XIAOMI MI BAND 3<br><span class="link-dark" style="font-size: 13px;">Publié le 13/06</span></h3>
                            <p width="100%" class="link-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum [...]</p>
                            </a>
                          </div>
                        </div>
                      </div>
                </div>
                <!-- Right col-->
                <div class="col-md-3">
                    <h2 class="bg-light" style="font-size:x-large;">Catégories</h2>
                    <div class="bg-light" style="margin-bottom: 10px;">
                        <span style="list-style-type: none; margin-left: 3px;"><a href="#">Astuces</a></span><br>
                        <span style="list-style-type: none; margin-left: 3px;"><a href="#">Développement</a></span><br>
                        <span style="list-style-type: none; margin-left: 3px;"><a href="#">Événements</a></span><br>
                        <span style="list-style-type: none; margin-left: 3px;"><a href="#">Blockchain</a></span><br>
                        <span style="list-style-type: none; margin-left: 3px;"><a href="#">Divers</a></span><br>
                    </div>
                    <h2 class="bg-light" style="font-size:x-large;">Les derniers articles</h2>
                    <div class="bg-light">
                      <span style="font-size: small; list-style-type: none; margin-left: 3px;"><a href="#">23/09 - Blog : Stage de la Toussaint</a></span><br>
                      <hr>
                      <span style="font-size: small; list-style-type: none; margin-left: 3px;"><a href="#">23/09 - Blog : Stage de la Toussaint</a></span><br>
                      <hr>
                      <span style="font-size: small; list-style-type: none; margin-left: 3px;"><a href="#">23/09 - Blog : Stage de la Toussaint</a></span><br>
                      <hr>
                      <span style="font-size: small; list-style-type: none; margin-left: 3px;"><a href="#">23/09 - Blog : Stage de la Toussaint</a></span><br>
                      <hr>
                      <span style="font-size: small; list-style-type: none; margin-left: 3px;"><a href="#">23/09 - Blog : Stage de la Toussaint</a></span><br>
                      <hr>
                      <span style="font-size: small; list-style-type: none; margin-left: 3px;"><a href="#">23/09 - Blog : Stage de la Toussaint</a></span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
