{% extends 'base.html' %}
{% block content %}
    <!-- Main -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <!-- Left col -->
                <div class="col-md-9">
                    <div>
                        <div class="row">
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/oc_lettings.png" width="100%">
                            <p width="100%" class="link-dark">Mettez à l'échelle une application Django en utilisant une architecture modulaire</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/epic.png" width="100%">
                            <p width="100%" class="link-dark">Développez une architecture back-end sécurisée en utilisant Django ORM</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/gudlft.png" width="100%">
                            <p width="100%" class="link-dark">Améliorez une application Web Python par des tests et du débogage</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/soft.png" width="100%">
                            <p width="100%" class="link-dark">Créez une API sécurisée RESTful en utilisant Django REST</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/litreview.png" width="100%">
                            <p width="100%" class="link-dark">Développez une application Web en utilisant Django</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/juststreamit.png" width="100%">
                            <p width="100%" class="link-dark">Développez une interface utilisateur pour une application web Python</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/learn.png" width="100%">
                            <p width="100%" class="link-dark">Designez une application Python adaptée aux besoins d'un client</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/echec.png" width="100%">
                            <p width="100%" class="link-dark">Développez un programme logiciel en Python</p>
                            </a>
                          </div>
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" style="text-decoration: none; ">
                            <img src="../../static/img/algo.png" width="100%">
                            <p width="100%" class="link-dark">Résolvez des problèmes en utilisant des algorithmes en Python</p>
                            </a>
                          </div>
                        </div>
                      </div>
                </div>
                <!-- Right col-->
                <div class="col-md-3">
                    <h2 class="" style="font-size:x-large;">Catégories</h2>
                    <div class="" style="margin-bottom: 10px;">
                      <ul style="list-style: none;">
                        <li><span style="list-style-type: none; margin-left: 3px;"><a href="#">Astuces</a></span><br></li>
                        <li><span style="list-style-type: none; margin-left: 3px;"><a href="#">Développement</a></span><br></li>
                        <li><span style="list-style-type: none; margin-left: 3px;"><a href="#">Événements</a></span><br></li>
                        <li><span style="list-style-type: none; margin-left: 3px;"><a href="#">Blockchain</a></span><br></li>
                        <li><span style="list-style-type: none; margin-left: 3px;"><a href="#">Divers</a></span><br></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <nav aria-label="..." style="margin-left: 28%; margin-top: 50px;">
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <span class="page-link">
            2
          </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
{% endblock %}
