.h5-hobbies {
    margin-top: 30px;
}

.container-hobbies {
    background-color: white;
}

.block-hobbies {
    margin-top: 10px;
}

.container-hobbies .row .col-md-2 {
    margin-top:20px;
}

.container-hobbies  img {
    width: 30px; 
    height: 30px;
}

.container-hobbies .row .col-md-10 {
    margin-top: 20px;
}

.container-hobbies span {
    font-size: medium; 
    color: #ff9c00;
}

.container-hobbies p {
    font-size:smaller; 
    margin-left: 3px;
}