#container-top-projects {
    width: 100%;
    margin-bottom: 10px;
}

#container-top-projects .card {
    width: 106%; 
    margin-left: -3%;
}

#container-top-projects .card .card-body img {
    width: 15%;
    height: 15%;
    float: right; 
    margin-right: 30px;
}

#container-top-projects .card .card-body p {
    font-size: smaller;
}

.modal-body img {
    width: 100%;
}

.modal-body p {
    font-size: smaller;
}

.modal-body ul {
    font-size: smaller;
}

.modal-footer {
    margin-bottom: 30px;
}