<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- Header -->
    <div class="container-fluid">
        <div class="container">
            <h1 style="font-size: large; padding: 0px 0px; font-family: 'Courier New', Courier, monospace;"><b>MAVA MALONGA Alpha<br><span style="color:#ff9c00; ">Développeur Python & DevOps</span></b></h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid" style="padding: 0;">
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="{% url 'index' %}" class="nav-item nav-link active">Acceuil</a>
                            <a href="{% url 'blogs' %}" class="nav-item nav-link">Blog</a>
                        </div>
                        <div class="navbar-nav ms-auto">
                            <a href="{% url 'blogs' %}" class="nav-item nav-link">Télécharger mon CV</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- End Header -->


    <!-- Main -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <!-- Left col -->
                <div class="col-md-9">
                    <div class="container">
                        <img src="../../static/img/article.jpg" width="100%">
                        <h3 style="font-size: medium;">FIRMWARE FRANÇAIS POUR LE XIAOMI MI BAND 3</h3>
                        <p width="100%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus possimus consectetur consequatur sunt, nemo dolores inventore fuga nihil tempore, ad est dolorem in molestiae animi tenetur atque incidunt aut itaque! Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    </div>
                </div>
                <!-- Right col-->
                <div class="col-md-3">
                    <h2 style="font-size:x-large;">Catégories</h2>
                    <div class="container">
                        <ul>
                            <li>Astuces</li>
                            <li>Développement</li>
                            <li>Événements</li>
                            <li>Blockchain</li>
                            <li>Divers</li>
                        </ul>
                    </div>
                    <h2 style="font-size:x-large;">Les derniers articles</h2>
                    <div>
                        <ul style="margin-left:-7%;">
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      Copyright © 2022 MAVA MALONGA Alpha - <a href="#">Mentions légales</a> - <a href="#">Plan du site</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
</html>