{% extends 'base.html' %}
{% block content %}
    <!-- Main block -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <!-- Left col -->
                <div class="col-md-9">
                    <div class="container">
                        <img src="../../static/img/article.jpg" width="100%">
                        <h3 style="font-size: medium;">FIRMWARE FRANÇAIS POUR LE XIAOMI MI BAND 3</h3>
                        <p width="100%">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus possimus consectetur consequatur sunt, nemo dolores inventore fuga nihil tempore, ad est dolorem in molestiae animi tenetur atque incidunt aut itaque! Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    </div>
                </div>
                <!-- Right col-->
                <div class="col-md-3">
                    <h2 style="font-size:x-large;">Catégories</h2>
                    <div class="container">
                        <ul>
                            <li>Astuces</li>
                            <li>Développement</li>
                            <li>Événements</li>
                            <li>Blockchain</li>
                            <li>Divers</li>
                        </ul>
                    </div>
                    <h2 style="font-size:x-large;">Les derniers articles</h2>
                    <div>
                        <ul style="margin-left:-7%;">
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                        </ul>
                    </div>
                    <h2 style="font-size:x-large;">Sommaire</h2>
                    <div class="container">
                        <ul>
                            <li>Astuces</li>
                            <li>Développement</li>
                            <li>Événements</li>
                            <li>Blockchain</li>
                            <li>Divers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
<!-- End Main block -->