{% extends 'base.html' %}
{% block content %}
    <!-- Main -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <!-- Left col -->
                <div class="col-md-9">
                    <div>
                        <div class="row">
                          <div class="col-sm-4">
                            <a href="{% url 'blog' blog_id=1 %}" sty>
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium;">FIRMWARE FRANÇAIS POUR LE XIAOMI MI BAND 3</h3>
                            <p width="100%">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                            </a>
                        </div>
                          <div class="col-sm-4">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium;">FIRMWARE FRANÇAIS POUR LE XIAOMI MI BAND 3</h3>
                            <p width="100%">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                          </div>
                          <div class="col-sm-4">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium;">FIRMWARE FRANÇAIS POUR LE XIAOMI MI BAND 3</h3>
                            <p width="100%">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                          </div>
                          <div class="col-sm-4">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium;">FIRMWARE FRANÇAIS POUR LE XIAOMI MI BAND 3</h3>
                            <p width="100%">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                          </div>
                          <div class="col-sm-4">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium;">FIRMWARE FRANÇAIS POUR LE XIAOMI MI BAND 3</h3>
                            <p width="100%">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                          </div>
                          <div class="col-sm-4">
                            <img src="../../static/img/article.jpg" width="100%">
                            <h3 style="font-size: medium;">FIRMWARE FRANÇAIS POUR LE XIAOMI MI BAND 3</h3>
                            <p width="100%">Lorem ipsum dolor sit amet, consectetur adipisicing elit... Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                          </div>
                        </div>
                      </div>
                </div>
                <!-- Right col-->
                <div class="col-md-3">
                    <h2 style="font-size:x-large;">Catégories</h2>
                    <div class="container">
                        <ul>
                            <li>Astuces</li>
                            <li>Développement</li>
                            <li>Événements</li>
                            <li>Blockchain</li>
                            <li>Divers</li>
                        </ul>
                    </div>
                    <h2 style="font-size:x-large;">Les derniers articles</h2>
                    <div>
                        <ul style="margin-left:-7%;">
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                            <hr>
                            <li style="font-size: small; list-style-type: none">23/09 - Blog : Stage de la Toussaint</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
